#post_container {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: auto;
	grid-template-areas: 
		"post post post post"
		"header header header header"
		"nav nav nav nav"
		"footer footer footer footer";
}

#profile {
	grid-area: profile;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10px 0px;
}

#avatar {
	margin-top: 10px;
	max-width: 200px;
}

#avatar_div, #author {
	width: 50%;
}

#author {
	text-align: center;
}

#social_media {
	display: flex;
	justify-content: space-evenly;
}

#social_media img {
	height: 32px;
	width: 32px;
}

#post {
	box-sizing: border-box;
	padding: 15px;
	background-color: rgb(165, 214, 182);
	grid-area: post;
}

#blog_title {
	text-align: center;
}

@media(min-width:450px) and (max-width: 899px) {
	#profile {
		flex-direction: row;
	}
	
	#author {
		text-align: left;
	}
	
	#social_media {
		justify-content: flex-start;
	}
	
	#social_media img {
		margin-right: 10px;
	}
	
}

@media(min-width:900px) {	
	
	#post_container {
		grid-template-rows: auto 200px auto;
		grid-template-areas: 
			"header post post post"
			"nav post post post"
			"footer post post post"
			"footer post post post";
		grid-column-gap: 0;
	}
	
	#avatar_div {
		width: 100%;
	}
	
	#author {
		width: 70%;
	}

}