* {
	/*border: 1px solid red;*/
	font-family: "Lora", Times, serif;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;
}

#container {
	display: flex;
	flex-direction: column;
}

#sidebar, #archive2, footer {
	text-align: center;
}


#archive1, #footer1 {
	display: none;
}

#about {
	padding: 0px 40px 0px;
}


#posts {
	height: 100px;
	background-color: blue;
}

@media(min-width:900px) {
	#container{
		flex-direction: row;
	}
	#archive1, #footer1 {
		display: initial;
	}
	#archive2, #footer2 {
		display: none;
	}
	#posts {
		width: 80%;
	}
}