#container {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: auto;
	grid-template-areas: 
		"cards cards cards cards"
		"header header header header"
		"nav nav nav nav"
		"footer footer footer footer";
}

#header, #footer, #nav_header {
	text-align: center;
}

#header {
	grid-area: header;
	background-color: lightblue;
}

#title {
	grid-area: title;
	text-align: center;
}

#cards {
	display: grid;
	grid-template-columns: 325px;
	grid-template-rows: auto;
	grid-template-areas: 
		"title"
		"card";
	grid-area: cards;
	grid-gap: 30px;
	justify-items: center;
	justify-content: center;
	background-color: #e9e7ea;
	padding-bottom: 50px;
}

article {
	height: 240px;
	box-sizing: border-box;
	background-image: url("../images/pencils.jpg");
	background-size: cover;
	background-position: left;
	padding: 10px 20px;
	border: 2px solid gray;
	border-radius: 10px;
	font-size: 0.8em;
}

button {
	margin-top: 30px;
	padding: 10px 5px;
}

#nav_header {
	background-color: BurlyWood;
}


#nav {
	grid-area: nav;
	background-color: BurlyWood;
	padding-bottom: 20px;
}

#footer {
	grid-area: footer;
	padding: 20px 0px;
	background-image: url("../images/1019.png");
	background-color: lightgray;
}

#logo_heading {
	background-color: lightblue;
	margin-bottom: 0px;
}

#about {
	padding: 0px 40px 10px;
}

@media(min-width:930px) {
	#container {
		grid-template-rows: 180px 200px auto;
		grid-template-areas: 
			"header cards cards cards"
			"nav cards cards cards"
			"footer cards cards cards"
			"footer cards cards cards";
		grid-column-gap: 0;
	}
	
	#about {
		padding: 10px 20px;
	}
	
	#footer {
		padding: 20px;
	}
	
	#cards {
		grid-template-columns: 325px 325px;
		grid-template-areas: 
			"title title"
			"card card"
			"card card";
	}
}